
<p class="fields">
  <%= f.label :contenido, "Opcion", :style => "margin-left: 60px; margin-right: 8px;" %>
  <%= f.text_field :contenido %>
  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_fields "Eliminar opcion", f %>
</p>

