<blockquote>
  <b>Encuesta:</b> <address><%=  @encuesta.nombre %></address>

<%  @encuesta.preguntas.each do |pregunta| %>
  <dl>
  <%=  " #{pregunta.texto}" %>

    <ol>
  <% pregunta.opciones.each do |opcion| %>

      <li style="margin-top: 5px;"><%=  " #{opcion.contenido}" %></li>
   
  <% end %>
      </ol>
    </dl>
<% end %>
  </blockquote>